.paragraph--type--slide-two-columns-text-image-ico {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content min-content;
    grid-template-areas:
        "text"
        "link"
        "image"
        "icon";
    grid-auto-columns: auto;
    gap: 1rem 1rem;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

/* W sliderze */
.paragraph--type--slider .paragraph--type--slide-two-columns-text-image-ico {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content min-content min-content var(--paragraph--type--slider--control-group-height);
    grid-template-areas:
        "text"
        "link"
        "image"
        "icon"
        ".";
}

/* --- */
.paragraph--type--slide-two-columns-text-image-ico {
    >.field--name-field-slide-text {
        grid-area: text;
    }

    >.field--name-field-slide-link-label {
        grid-area: link;
    }

    >.field--name-field-slide-media {
        grid-area: image;
        margin-bottom: 0;
        border-width: 0;
        border-style: solid;
        border-radius: 0.56rem;

        img {
            margin-bottom: 0;
            border-width: 0;
            border-style: solid;
            border-radius: 0.56rem;
        }
    }

    >.field--name-field-slide-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-area: icon;

        >.field__item>.tul-card {
            border-width: 0;
            border-radius: 0;
            padding: 0;
            width: fit-content;
            height: auto;
            min-height: unset;
            max-height: unset;
            margin-top: 1rem;

            &:hover {
                background-color: unset;
            }

            >.field--name-field-media {

                text-align: center;
            }

            >.field--name-field-short-formatted-text {

                text-align: center;
            }
        }
    }
}

@media (min-width: 1440px) {
    /* --- */
    .paragraph--type--slide-two-columns-text-image-ico {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content min-content;
        grid-template-areas:
            "text image"
            "link image"
            "icon icon";
        justify-content: space-evenly;
        align-content: space-evenly;
        justify-items: center;
        align-items: center;
    }

    /* W sliderze */
    .paragraph--type--slider .paragraph--type--slide-two-columns-text-image-ico {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content min-content var(--paragraph--type--slider--control-group-height);
        grid-template-areas:
            "text image"
            "link image"
            "icon icon"
            ". .";
    }
    /* --- */
    .paragraph--type--slide-two-columns-text-image-ico>.field--name-field-slide-media {
        justify-self: stretch;
        align-self: stretch;

        .contextual-region {
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }

        .field--type-image {
            width: 100%;
            height: 100%;
            margin: 0;

            >.field__item {
                width: auto;
                height: 100%;
                margin: 0 auto;

                img {
                    width: max-content;
                    height: 100%;
                }
            }
        }
    }
}



/* 
    Slide ale bez slidera
*/
.field--name-field-body-paragraphs>.field__item>.paragraph--type--slide-two-columns-text-image-ico>.field--name-field-slide-media img {
    width: 100%;
    height: max-content;
}