.tul-recruitment-bundle-button-1 .content a>button {
    border-style: solid;
    border-width: 0.33rem;
    background-color: var(--tul_recruitment-orange);
    border-color: var(--tul_recruitment-orange);
    color: var(--tul_recruitment-text-on-bg-orange);
}
.tul-recruitment-style-icon-right-arrow.tul-recruitment-bundle-button-1 .content button>span::after {
    background-image: url("../../../image/figma/dark_arrow_btn_right.svg");
    background-origin: content-box;
    background-size: contain;
    background-position: center;
}
.tul-recruitment-style-no-background.tul-recruitment-bundle-button-1 .content a>button {
    background-color: transparent;
    border-color: transparent;
}
.tul-recruitment-style-icon-before-switch-website.tul-recruitment-bundle-button-1 .content button>span::before {
    background-image: url("../../../image/figma/dark-switch-website.svg");
    background-origin: content-box;
    background-size: contain;
    background-position: center;
}
.vocabulary-studyfield>.content>.field {
    color: inherit;
}
.vocabulary-studyfield.tul-recruitment-view-mode-short-summary>.content>.field {
    color: var(--tul_recruitment-form-input-placeholder-text);
}
.site-footer {
    background: var(--tul_recruitment-bg);
    color: var(--tul_recruitment-text);
}
.site-footer>* {
    background: var(--tul_recruitment-bg-footer);
    color: var(--tul_recruitment-text-onblack);
}
.site-footer>div {
    border-style: solid;
    border-color: var(--tul_recruitment-bg-footer);
    border-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.site-footer .site-footer__top>.region>.block-menu {
    background: var(--tul_recruitment-bg-footer);
    color: var(--tul_recruitment-text-onblack);
}
.site-footer .site-footer__top>.region>.block-menu .nav {
    background: var(--tul_recruitment-bg-footer);
    color: var(--tul_recruitment-text-onblack);
}
.site-footer .site-footer__top>.region>.block-menu .nav>.nav-item,
.site-footer .site-footer__top>.region>.block-menu .nav>.nav-item>.nav-link {
    background: var(--tul_recruitment-bg-footer);
    color: var(--tul_recruitment-text-onblack);
}
form {
    fieldset>legend,
     .form-type-select>label,
     .form-type-textfield>label {
        color: var(--tul-recruitment-blue-medium);
    }
    fieldset .fieldset-wrapper {
        >.radio {
            background-color: var(--tul_recruitment-form-radio-button-not-active);
            border-style: solid;
            border-width: 0;
            >.radio:first-of-type>label {
                border-top-left-radius: 30rem;
                border-bottom-left-radius: 30rem;
            }
            >.radio:last-of-type>label {
                border-top-right-radius: 30rem;
                border-bottom-right-radius: 30rem;
            }
            >.radio>label {
                background-color: var(--tul_recruitment-form-radio-button-not-active);
                color: var(--tul-recruitment-blue-medium);
                border-style: solid;
                border-width: 0;
            }
            >.radio>input:checked+label {
                background-color: var(--tul-recruitment-beige-light);
            }
        }
    }
    .form-type-textfield {
        input {
            border-width: 0;
            border-style: solid;
            color: var(--tul-recruitment-blue-medium);
        }
    }
    .form-type-select {
        select {
            border-width: 0;
            border-style: solid;
            color: var(--tul-recruitment-blue-medium);
            &[data-val="All"] {
                color: var(--tul_recruitment-form-input-placeholder-text);
            }
        }
    }
    .form-actions>.btn {
        border-width: 0;
        border-style: solid;
        color: var(--tul_recruitment-white);
        background-color: var(--tul-recruitment-blue-medium);
    }
}
#header>#navbar-top {
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-bottom-color: var(--tul_recruitment-header-border-color);
    background: transparent;
}
#header>#navbar-main {
    background: var(--tul_recruitment-bg);
    color: var(--tul_recruitment-text);
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-bottom-color: var(--tul_recruitment-header-border-color);
}
#header>#navbar-main>.navbar {
    background: inherit;
    color: inherit;
}
#header>#navbar-main #block-glownanawigacja,
#header>#navbar-main #block-glownanawigacja a {
    color: var(--tul_recruitment-header-menu-text);
}
#header>#navbar-main button.navbar-toggle {
    background-color: transparent;
    border-width: 0;
}
#header>#navbar-offcanvas {
    border-width: 0;
    background-color: var(--tul_recruitment-bg);
}
#header>#navbar-offcanvas>.offcanvas-header-top {
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-bottom-color: var(--tul_recruitment-header-border-color);
}
#header>#navbar-offcanvas #navbar-offcanvas-close {
    border-bottom: 1px solid var(--tul_recruitment-border);
}
#header>#navbar-offcanvas>.offcanvas-header {
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-bottom-color: var(--tul_recruitment-header-border-color);
}
.node--type-graduate-opinion.node--view-mode-short-summary {
    background-color: var(--tul-recruitment-beige-dark);
}
.tul-recruitment-style-burgundy.paragraph--type--card-dotted {
    background: var(--tul-recruitment-burgundy);
}
.tul-recruitment-style-burgundy-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-burgundy-light) 10%, var(--tul-recruitment-burgundy) 20%);
    background-size: 16px 16px;
}
.tul-recruitment-style-blue-dark.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-blue-dark);
}
.tul-recruitment-style-blue-medium.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-blue-medium);
}
.tul-recruitment-style-blue-medium-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-blue-light) 10%, var(--tul-recruitment-blue-medium) 20%);
    background-size: 16px 16px;
}
.tul-recruitment-style-beige-dark.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-beige-dark);
}
.tul-recruitment-style-beige-dark-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-beige-dark) 10%, var(--tul-recruitment-beige-medium) 20%);
    background-size: 16px 16px;
}
.tul-recruitment-style-beige-medium.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-beige-medium);
}
.tul-recruitment-style-beige-medium-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-beige-medium) 10%, var(--tul-recruitment-beige-dark) 20%);
    background-size: 16px 16px;
}
.tul-recruitment-style-beige-light.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-beige-light);
}
.tul-recruitment-style-beige-light-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-beige-dots) 10%, var(--tul-recruitment-beige-light) 20%);
    background-size: 16px 16px;
}
.paragraph--type--container {
    background-color: var(--tul-recruitment-blue-dark);
    border-width: 0;
    border-color: var(--tul-recruitment-blue-dark);
    border-style: solid;
    color: var(--tul_recruitment-bg);
}
.paragraph--type--slide-two-columns-text-image>.field--name-field-slide-media,
.paragraph--type--slide-two-columns-text-image>.field--name-field-slide-media img {
    border-width: 0;
    border-style: solid;
}
.paragraph--type--slider .carousel-control-group>.carousel-control {
    background: transparent;
    border-width: 0;
    border-style: solid;
    border-color: var(--tul-recruitment-beige-dark);
    border-width: 1px;
}
.paragraph--type--slider .carousel-control-next-icon {
    background-image: url("../../../image/figma/dark_arrow_btn_right.svg");
}
.paragraph--type--slider .carousel-control-prev-icon {
    background-image: url("../../../image/figma/dark_arrow_btn_left.svg");
}
.paragraph--type--slider .slide-class-tul-recruitment-style-blue-medium-dotted .carousel-control-next-icon {
    background-image: url("../../../image/figma/light_arrow_btn_right.svg");
}
.paragraph--type--slider .slide-class-tul-recruitment-style-blue-medium-dotted .carousel-control-prev-icon {
    background-image: url("../../../image/figma/light_arrow_btn_left.svg");
}
.paragraph--type--step-fontawesome {
    background-color: var(--tul-recruitment-blue-dark);
    color: var(--tul_recruitment-bg);
    border-width: 0;
    background-color: var(--tul-recruitment-blue-medium);
    border-style: solid;
}
.paragraph--type--step-fontawesome>.field--name-field-step-icon-icon {
    color: var(--tul_recruitment-orange);
}
.paragraph--type--steps-list .tul-step-number {
    border-style: solid;
    border-color: var(--tul_recruitment-orange);
    border-width: 1px;
}
.paragraph--type--tabs-group>nav>.nav.nav-tabs {
    border-width: 1px;
    border-color: var(--tul-recruitment-beige-dark);
    color: var(--tul_recruitment-text);
    border-style: solid;
}
.paragraph--type--tabs-group>nav>.nav.nav-tabs>.nav-link {
    background-color: var(--tul_recruitment-bg);
    color: var(--tul_recruitment-text);
}
.paragraph--type--tabs-group>nav>.nav.nav-tabs>.nav-link.active {
    border-style: solid;
    border-width: 1px;
    border-color: var(--tul-recruitment-beige-dark);
    background-color: var(--tul-recruitment-beige-dark);
}
.tul-recruitment-slide>.field--name-field-slide-link-label>a {
    border-style: solid;
    border-width: 0.33rem;
    background-color: var(--tul-recruitment-blue-medium);
    border-color: var(--tul-recruitment-blue-medium);
    color: var(--tul_recruitment-white);
}
.tul-recruitment-style-blue-medium.tul-recruitment-slide,
.tul-recruitment-style-blue-medium-dotted.tul-recruitment-slide {
    border-width: 0;
    border-style: solid;
    color: var(--tul-recruitment-beige-light);
    >.field--name-field-slide-link-label>a {
        background-color: var(--tul-recruitment-beige-light);
        border-color: var(--tul-recruitment-beige-light);
        color: var(--tul-recruitment-blue-medium);
    }
}
.tul-recruitment-style-blue-medium.tul-recruitment-slide {
    background-color: var(--tul-recruitment-blue-medium);
}
.tul-recruitment-style-blue-medium-dotted.tul-recruitment-slide {
    background-image: radial-gradient(var(--tul-recruitment-blue-light) 10%, var(--tul-recruitment-blue-medium) 20%);
    background-size: 16px 16px;
}
.tul-recruitment-slide.tul-recruitment-style-icon-right-arrow .field--name-field-slide-link-label>a:before {
    background-image: url("./image/figma/light_arrow_btn_right.svg");
    background-position: center;
    background-origin: content-box;
    background-size: contain;
}
.tul-recruitment-slide.tul-recruitment-style-icon-right-arrow.tul-recruitment-style-blue-medium-dotted .field--name-field-slide-link-label>a:before {
    background-image: url("./image/figma/dark_arrow_btn_right.svg");
}
.tul-step .text-formatted a {
    color: inherit;
    text-decoration-color: var(--tul_recruitment-orange);
}
.tul-step .text-formatted {
    color: inherit;
}
.paragraph--type--card-vid .field--name-field-card-vid-imgs .field--name-field-media-image>.field__item img {
    border-width: 0;
    border-style: solid;
}
.paragraph--type--card-vid>.field--name-field-card-vid-vid .field--name-field-media-oembed-video iframe {
    color: white;
}
.view-wyszukiwarka-kierunkow form .form-actions>.btn::after {
    background-image: url("../../../image/figma/light_search_icon.svg");
    background-origin: content-box;
    background-size: contain;
    background-position: center;
}
.view-wyszukiwarka-kierunkow>.view-content>* {
    background: var(--tul_recruitment-white);
    border-width: 0;
    border-style: solid;
    border-color: var(--tul-recruitment-beige-dark);
}
.view-wyszukiwarka-kierunkow>.view-content>*>.taxonomy-term>.content {
    color: var(--tul_recruitment-form-input-placeholder-text);
}
.view-wyszukiwarka-kierunkow>.view-content>*>.taxonomy-term>h2>a .field--name-name {
    color: var(--tul-recruitment-blue-medium);
}
@media (min-width: 1440px) {
    .view-wyszukiwarka-kierunkow>.view-content {
        background-image: radial-gradient(var(--tul_recruitment-view-background-dot-color) 10%, var(--tul-recruitment-beige-light) 20%);
        background-size: 16px 16px;
    }
    .view-wyszukiwarka-kierunkow>.view-content>* {
        border-width: 1px;
    }
}
.view>.view-header-and-filters-container {
    background-image: radial-gradient(var(--tul-recruitment-beige-medium) 10%, var(--tul-recruitment-beige-dark) 20%);
    background-size: 16px 16px;
    border-width: 0;
    border-style: solid;
}
.view-opinion-graduate .carousel-control-group>.carousel-control {
    background: var(--tul-recruitment-beige-light);
    border-width: 0;
    border-style: solid;
    border-color: var(--tul-recruitment-beige-dark);
    border-width: 1px;
}
.view-opinion-graduate .carousel-control-group .carousel-control-next-icon {
    background-image: url("../../../image/figma/dark_arrow_btn_right.svg");
}
.view-opinion-graduate .carousel-control-group .carousel-control-prev-icon {
    background-image: url("../../../image/figma/dark_arrow_btn_left.svg");
}
.view-opinion-graduate .carousel>.carousel-inner>.carousel-item>.carousel-item-inner {
    background-color: var(--tul-recruitment-beige-dark);
}
.view-opinion-graduate .carousel>.carousel-inner>.carousel-item>.carousel-item-inner>.node {
    border-width: 0;
    border-right-width: 1px;
    border-color: var(--tul-recruitment-beige-light);
    border-style: solid;
}
.view-opinion-graduate .carousel>.carousel-inner>.carousel-item:first-child>.carousel-item-inner {
    background-clip: content-box;
}
.view-opinion-graduate .carousel>.carousel-inner>.carousel-item:first-child>.carousel-item-inner>.node {
    border-width: 0;
    border-right-width: 1px;
    border-style: solid;
}
.view-opinion-graduate .carousel>.carousel-inner>.carousel-item:last-child>.carousel-item-inner {
    background-clip: content-box;
}
.view-opinion-graduate .carousel>.carousel-inner>.carousel-item:last-child>.carousel-item-inner>.node {
    border-width: 0;
    border-right-width: 1px;
    border-style: solid;
}
.image-style-avatar-512 {
    border-width: 0;
    border-style: solid;
}
.tul-recruitment-layout-kierunek {
    >.tul-recruitment-layout-region-tag {
        >.tul-recruitment-layout-region-tag-inner>div>.block {
            background: var(--tul-recruitment-beige-light);
            border-width: 0;
            border-style: solid;
        }
    }
    >.tul-recruitment-layout-region-card {
        background: var(--tul_recruitment-white);
        border-style: solid;
        border-width: 1px;
        border-color: var(--tul-recruitment-beige-dark);
    }
}
.vocabulary-studyfield .field--name-field-skills .field__item {
    background-color: var(--tul-recruitment-beige-dark);
    border-style: solid;
    border-width: 0;
}
.select2-container {
    border-width: 0;
    border-style: solid;
    background: rgb(255, 255, 255);
}
.select2-container>.selection>.select2-selection {
    border-width: 0;
}
.select2-container>.selection>.select2-selection>.select2-selection__rendered>.select2-selection__choice {
    border-width: 1px;
    border-color: var(--tul-recruitment-blue-medium);
    color: var(--tul-recruitment-blue-medium);
    background-color: transparent;
    border-width: 0;
}
body>.select2-container.select2-container--open {
    border-width: 1px;
    border-color: var(--tul-recruitment-blue-medium);
    color: var(--tul-recruitment-blue-medium);
    border-width: 0;
}
body>.select2-container.select2-container--open>.select2-dropdown {
    border-width: 1px;
    border-style: solid;
    border-color: var(--tul-recruitment-blue-medium);
}
body {
    color: var(--var-text);
    background: var(--var-footer);
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
    background: #fff;
}
.tabs ul.primary li a.is-active {
    background-color: #fff;
}
.tabs ul.primary li.is-active a {
    background-color: #fff;
    border-bottom-color: #fff;
}
#navbar-top {
    background-color: var(--var-top);
}
#navbar-main {
    background-color: var(--var-bottom);
}
a,
.link {
    color: var(--var-link);
}
a:hover,
a:focus,
.link:hover,
.link:focus {
    color: #018fe2;
}
a:active,
.link:active {
    color: #23aeff;
}
.page-item.active .page-link {
    background-color: var(--var-link);
    border-color: var(--var-link);
}
.page-link,
.page-link:hover {
    color: var(--var-link);
}
.sidebar .block {
    background-color: var(--var-sidebar);
    border-color: var(--var-sidebarborders);
}
.btn-primary {
    background-color: var(--var-button);
    border-color: var(--var-button);
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--var-buttonhover);
}
.site-footer {
    background: var(--var-footer);
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
    color: var(--var-titleslogan);
}
.content {
    color: inherit !important;
    background-color: inherit !important;
}
.block,
.text-formatted {
    color: inherit;
    background-color: inherit;
}
html,
body,
#page-wrapper {
    background: white;
    color: var(--tul_recruitment-text);
}
#page,
#main-wrapper {
    background: var(--tul_recruitment-bg);
    color: var(--tul_recruitment-text);
}
.navbar_custom {
    color: rgb(255, 85, 215);
}
.paragraph--type--card-vid {
    background-image: radial-gradient(var(--tul-recruitment-blue-light) 10%, var(--tul-recruitment-blue-medium) 20%);
    background-size: 16px 16px;
}
.tul-recruitment-bundle-card-vid {
    color: rgb(255, 255, 255);
}