@import'../image/figma/svg.scss';
@import'./components/region-shortcuts.scss';
:root{
--tul_recruitment-border: #dfdbd5;
--tul_recruitment-text: #112633;
--tul_recruitment-text-onblack: #f1edec;
--tul_recruitment-bg-footer: #112633;
--tul_recruitment-text-on-bg-orange: #112633;
--tul_recruitment-header-menu-text: #112633;
--tul_recruitment-header-border-color: #d7d3cc;
--tul_recruitment-form-radio-button-not-active: #e4e1dc;
--tul_recruitment-form-input-placeholder-text: #787878;
--tul_recruitment-view-background-dot-color: #cacbca;
--tul_recruitment-white: #ffffff;
--tul_recruitment-white-transparent: #FFFFFF85;
--tul-recruitment-burgundy-dark: #81282B;
--tul-recruitment-burgundy: #622022;
--tul-recruitment-burgundy-light: #713536;
--tul-recruitment-beige-dark: #D7D3CC;
--tul-recruitment-beige-medium: #DCDCDC;
--tul-recruitment-beige-light: #F8F6F3;
--tul-recruitment-beige-dots: #DADBDC;
--tul-recruitment-blue-dark: #0B1A21;
--tul-recruitment-blue-medium: #112633;
--tul-recruitment-blue-light: #283A46;
--tul_recruitment-orange: #ff8440;
--tul-recruitment-orange-dark: #FF763F;
--tul-recruitment-orange-light: #FF9253;
--tul-recruitment-navyblack-dark: #0A161D;
--tul-recruitment-navyblack-medium: #121D24;
--tul-recruitment-navy-dark: #13222A;
--tul-recruitment-navy-medium: #122B3C;
--tul-recruitment-grey-dark: #423A35;
--tul-recruitment-grey-medium: #3A4348;
--tul-recruitment-grey-medium-light: #8A8A8A;
--tul-recruitment-grey-light: #787878;
--tul-recruitment-grey-lighter: #AEABA5;
--tul-recruitment-snow: #FAF9F7;
--tul-recruitment-americansilver: #D1D0CB;
--tul-recruitment-alabaster: #EAEBEE;
--tul-recruitment-blue-grey: #B3B8BA;
}
.content{
color: inherit !important;
background-color: inherit !important;
}
.block,
.text-formatted{
color: inherit;
background-color: inherit;
}
html,
body,
#page-wrapper{
background: white;
color: var(--tul-recruitment-blue-medium);
}
#page,
#main-wrapper{
background: var(--tul-recruitment-beige-light);
color: var(--tul-recruitment-blue-medium);
}
:root{
--id-main-wrapper-width: 91.47vw;
--id-main-wrapper-margin: 4.265vw;
}
@media(min-width:1440px){
:root{
--id-main-wrapper-width: 97.22vw;
--id-main-wrapper-margin: 1.39vw;
}
}
.navbar_custom{
color: rgb(255, 85, 215);
}
@media(max-width:376px){
.field--name-field-bck-card-stat{
row-gap: 6rem !important;
}
}
@media(min-width:376px){
.field--name-field-bck-card-stat{
row-gap: 6rem !important;
}
}
@media(min-width:1209px){
.field--name-field-bck-card-stat{
row-gap: 6rem !important;
}
}
@media(min-width:1440px){
.field--name-field-bck-card-stat{
row-gap: 7rem !important;
}
}
@media(min-width:2940px){
.field--name-field-bck-card-stat{
row-gap: 5rem !important;
}
}
.paragraph--type--card-vid{
background-image: radial-gradient(var(--tul-recruitment-blue-light)10%, var(--tul-recruitment-blue-medium)20%);
background-size: 16px16px;
}
.tul-recruitment-bundle-card-vid{
color: rgb(255, 255, 255);
}
*{
--main-scrollbar-color: var(--tul-recruitment-beige-medium);
--button-scrollbar-color: var(--tul-recruitment-beige-dark);
}
*{
scrollbar-width: thin;
scrollbar-color: var(--main-scrollbar-color)var(--button-scrollbar-color);
}
*::-webkit-scrollbar-track{
background: var(--main-scrollbar-color);
}
*::-webkit-scrollbar-thumb{
background-color: var(--button-scrollbar-color);
border: 0pxsolidvar(--main-scrollbar-color);
}
.text-formattedtable{
border: 1pxsolid#B7B3B3 !important;
}
.text-formattedtd{
border: 1pxsolid#B7B3B3 !important;
}
.text-formattedthead,
th{
background-color: var(--tul-recruitment-beige-dark) !important;
color: #0F202C !important;
}
.text-formattedtbody>tr:nth-child(odd){
background: none !important;
}
.text-formattedtbody>tr:nth-child(even){
background: #FFFFFF !important;
}
#block-views-block-amplify-possibilities-block-2{
background-color: #0F202C;
}
.view-amplify-possibilities.node--type-article.node__content{
background: white;
border: 1pxsolidrgba(215, 211, 204, 0.3);
}
.view-amplify-possibilities.node--view-mode-teaser{
border-bottom: none;
}
#block-views-block-amplify-possibilities-block-2h2{
color: white;
}
#block-views-block-amplify-possibilities-block-2a{
color: #7A7A7A;
}
#block-views-block-amplify-possibilities-block-2article.node__content{
border: 0px;
}
a:focus,
*:focus-visible{
outline-color: var(--tul_recruitment-orange);
outline-style: solid;
outline-width: 2pt;
}
#navbar-main*:focus-visible{
outline-color: var(--tul_recruitment-orange) !important;
outline-style: solid !important;
outline-width: 2pt !important;
}
:root{
--tul_recruitment_text-study-degree-label: "Studia";
--tul_recruitment_text-study-mode-label: "Tryb";
--tul_recruitment_text-study-no-semesters-label: "Liczbasemestrów";
--tul_recruitment_text-study-no-seats-label: "Liczbamiejsc";
--tul_recruitment_text-study-matura-exam-subjects-label: "Przedmiotynamaturze";
}
.theme-dark{
form{
fieldset>legend,
        .form-type-select>label,
        .form-type-textfield>label{
color: var(--tul-recruitment-navy-medium);
}
fieldset.fieldset-wrapper{
>.radio{
background-color: var(--tul-recruitment-americansilver);
>.radio>label{
background-color: var(--tul-recruitment-americansilver);
color: var(--tul-recruitment-navyblack-medium);
}
>.radio>input:checked+label{
background-color: var(--tul-recruitment-snow);
}
}
}
.form-type-textfield{
input{
color: var(--tul-recruitment-navyblack-medium);
}
}
.form-type-select{
select{
color: var(--tul-recruitment-navyblack-medium);
&[data-val="All"]{
color: var(--tul-recruitment-navy-medium);
}
}
}
.form-actions>.btn{
color: var(--tul-recruitment-beige-light);
background-color: var(--tul-recruitment-navyblack-dark);
}
}
}
