.theme-dark {form {
    >div,    >.row {
        >* {}
    }
    @media (min-width: 1440px) {
        >div>*,        >.row>* {
            &:nth-last-child(2n) {}
            &:nth-last-child(2n+1) {}
            &:first-child,            &:last-child {}
        }
    }
    fieldset,    .form-type-select,    .form-type-textfield {
        &.mb-3 {}
    }
    fieldset>legend,    .form-type-select>label,    .form-type-textfield>label {
        color: var(--tul-recruitment-blue-medium);
    }
    fieldset .fieldset-wrapper {
        >.radio {
            background-color: var(--tul_recruitment-form-radio-button-not-active);
            >.radio:first-of-type>label {}
            >.radio:last-of-type>label {
                border-top-right-radius: 30rem;
                border-bottom-right-radius: 30rem;
            }
            >.radio>label {
                background-color: var(--tul_recruitment-form-radio-button-not-active);
                color: var(--tul-recruitment-blue-medium);
                &:hover {}
            }
            >.radio>input:checked+label {
                background-color: var(--tul-recruitment-beige-light);
            }
        }
        &>legend {}
    }
.form-type-textfield {
        input {
            color: var(--tul-recruitment-blue-medium);
        }
    }
.form-type-select {
        select {
            color: var(--tul-recruitment-blue-medium);
            &[data-val="All"] {
                color: var(--tul_recruitment-form-input-placeholder-text);
            }
        }
    }
.form-actions>.btn {
        color: var(--tul_recruitment-white);
        background-color: var(--tul-recruitment-blue-medium);
    }
}
} 
