.node--type-graduate-opinion.node--view-mode-short-summary {
  background-color: var(--tul-recruitment-beige-dark);
  padding: 10%;
}

.node--type-graduate-opinion.node--view-mode-short-summary>header>h2 {
  display: none;
}

.node--type-graduate-opinion.node--view-mode-short-summary>.node__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.node--type-graduate-opinion.node--view-mode-short-summary>.node__content>.field--name-field-avatar {
  width: 22%;
}