.theme-dark {.paragraph--type--container {
    background-color: var(--tul-recruitment-blue-dark);
    border-color: var(--tul-recruitment-blue-dark);
    color: var(--tul-recruitment-beige-light);
}
} 
