.theme-dark {.tul-recruitment-style-burgundy.paragraph--type--card-dotted {
    background: var(--tul-recruitment-burgundy);
}
.tul-recruitment-style-burgundy-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-burgundy-light) 10%, var(--tul-recruitment-burgundy) 20%);
}
.tul-recruitment-style-blue-dark.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-blue-dark);
}
.tul-recruitment-style-blue-medium.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-blue-medium);
}
.tul-recruitment-style-blue-medium-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-blue-light) 10%, var(--tul-recruitment-blue-medium) 20%);
}
.tul-recruitment-style-beige-dark.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-beige-dark);
}
.tul-recruitment-style-beige-dark-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-beige-dark) 10%, var(--tul-recruitment-beige-medium) 20%);
}
.tul-recruitment-style-beige-medium.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-beige-medium);
}
.tul-recruitment-style-beige-medium-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-beige-medium) 10%, var(--tul-recruitment-beige-dark) 20%);
}
.tul-recruitment-style-beige-light.paragraph--type--card-dotted {
    background-color: var(--tul-recruitment-beige-light);
}
.tul-recruitment-style-beige-light-dotted.paragraph--type--card-dotted {
    background-image: radial-gradient(var(--tul-recruitment-beige-dots) 10%, var(--tul-recruitment-beige-light) 20%);
}
} 
