.theme-dark {/* 
    Nie wiem jak to jeszcze nazwać proszę się nie sugerować
    Plik na potrzeby wspólne jeśli będzie więcej rodzajów kroków
    np z obrazkiem zamiast ikony z fontawesome
 */
.tul-step .text-formatted a {
  color: inherit;
  text-decoration-color: var(--tul_recruitment-orange);
}
.tul-step .text-formatted {
  color: inherit;
}
} 
